<div class="article-card mud-elevation-1">
    <div class="img-box">
        <img src="@Banner" alt="banner" class="article-banner">
    </div>

    <div class="article-container pa-4">
        @if (string.IsNullOrEmpty(Title) is false)
        {
            <div class="article-title mb-4 d-flex justify-space-between align-start">
                @if (Link.Equals("#"))
                {
                    <MudText Typo="Typo.h5">@Title</MudText>
                }
                else
                {
                    <MudLink Href="@Link">
                        <MudText Typo="Typo.h5">@Title</MudText>
                    </MudLink>
                }
                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Secondary" aria-label="add to favorite" />
            </div>
        }

        <div class="article-content mb-4 text-justify">
            @CardContent
        </div>

        <div class="article-content-footer d-flex justify-space-between align-center">
            <div class="author">
                <img src="@AuthorAvatar" alt="" class="author-avatar mr-4">

                <div class="author-info">
                    @if (Link.Equals("#"))
                    {
                        <h4 class="author-name">@AuthorName</h4>
                    }
                    else
                    {
                        <MudLink href="@AuthorLink">
                            <h4 class="author-name">@AuthorName</h4>
                        </MudLink>
                    }

                    <div class="publish-date">@AuthorDate</div>
                </div>
            </div>

            <div class="article-footer-action">
                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Primary" aria-label="share" />
            </div>
        </div>
    </div>
</div>