@model AppShare.Models.Views.PageTitleViewModel

<!-- Page Title -->
<section class="page-title" style="background-image:url(@Model.Background)">
	<div class="auto-container">
		<h2>@Model.Title</h2>
		<ul class="bread-crumb clearfix">
			@foreach (var item in Model.Breadcrumbs)
			{
				if (item.Key.Equals("#"))
				{
					<li>@item.Value</li>
				}
				else
				{
					<li><a href="@item.Key">@item.Value</a></li>
				}
			}
		</ul>
	</div>
</section>
<!-- End Page Title -->