@using AppAdmin.Components
@using MudThemeLibrary.Handlers

<MudAppBar>
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
    <MudText Class="d-none d-md-block" Typo="Typo.subtitle1">Game App</MudText>
    <MudSpacer />
    <MudIconButton Icon="@Icons.Material.Outlined.Notifications" Color="Color.Inherit" />
    <MudText Typo="Typo.subtitle1" Class="d-none d-md-block">@_userStateContainer.User.Name</MudText>
    <MudMenu Class="@(_userStateContainer.IsLoggedIn is true ? "ml-6 ml-md-10 mr-6" : "ml-0 ml-md-4")" AnchorOrigin="@Origin.BottomRight" TransformOrigin="@Origin.TopRight">
        <ActivatorContent>
            <AvatarRankComponent Src="@_userStateContainer.User.Avatar" Size="Size.Medium" />
        </ActivatorContent>
        <ChildContent>
            @if (_userStateContainer.IsLoggedIn is true)
            {
                <MudMenuItem Href="/me" Label="Tài khoản" Icon="@Icons.Material.Filled.ManageAccounts" />
                <MudMenuItem Href="/me/achievements" Label="Thành tích" Icon="@Icons.Material.Filled.Diamond" />
                <MudMenuItem Href="/me/my-tournament" Label="Giải đấu của tôi" Icon="@Icons.Material.Filled.Games" />
                <MudMenuItem Href="/me/settings" Label="Cài đặt" Icon="@Icons.Material.Filled.Settings" />
                <MudDivider />
                <MudMenuItem Href="/logout" Label="Đăng xuất" Icon="@Icons.Material.Filled.Logout" />
            }
            else
            {
                <MudMenuItem Href="/auth/login" Label="Đăng nhập" Icon="@Icons.Material.Filled.Logout" />
                <MudMenuItem Href="/auth/register" Label="Đăng Ký" Icon="@Icons.Material.Filled.SensorOccupied" />
            }
        </ChildContent>
    </MudMenu>
    <MudToggleIconButton Toggled="_themeStateContainer.IsDarkMode" Edge="Edge.End"
                         ToggledChanged="() => _themeStateContainer.IsDarkMode = !_themeStateContainer.IsDarkMode"
                         Icon="@Icons.Material.Filled.Nightlight"
                         Color="@Color.Inherit"
                         ToggledIcon="@Icons.Material.Filled.LightMode"
                         ToggledColor="@Color.Info"/>
</MudAppBar>

<MudDrawer @bind-Open="@_themeStateContainer.DrawerOpenAppBar">
    <MudDrawerHeader Class="min-h-auto">
        @if (_themeStateContainer.IsDarkMode is true)
        {
            <MudImage Src="_content/MudThemeLibrary/images/logo-light-ttvl.png" Alt="Logo" Class="rounded-lg w-100" />
        }
        else
        {
            <MudImage Src="_content/MudThemeLibrary/images/logo-dark-ttvl.png" Alt="Logo" Class="rounded-lg w-100" />
        }
    </MudDrawerHeader>

    <MudDrawerContainer Class="overflow-x-auto">
        <NavMenu />
    </MudDrawerContainer>

    <MudSpacer />

    <div class="nav-menu-footer w-100 pa-3 border-t mud-border-primary">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth Href="/docs">Docs & Components</MudButton>
    </div>
</MudDrawer>